{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-4">
      <h2>Groups</h2>
      <a href="{% url 'add_group' %}">
        <button type="button" name="btn btn-default">Create Group</button>
      </a>
      {% for group in groups %}
      <a href="{% url 'add_friends_to_group' pk=group.pk %}">
      <h3>{{ group.name }}</h3>
      </a>
      {% endfor %}
  </div>
  <div class="col-md-4">
    <h2>Balances</h2> <br>
    {% for d in group_details %}
      <h3 style="color: grey;">{{ d }}</h3>
      {% endfor %}
  </div>
  <div class="col-md-4">
    <h2>Your Friends</h2>
    {% for friend in friends %}
      <a href="#">
        <h3>{{ friend.username }}
      </h3>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock %}